<div>
    <p>
        <form action="[var.redirectTo]" method="POST">
            <input type="text" name="[var.username;noerr]" placeholder="Username" autocomplete="off" />
            <input type="password" name="[var.password;noerr]" placeholder="Your password" />
            <input type="submit" name="login" value="Login">
        </form>
    </p>
</div>

<div>
    <p><a href="[var.APP_DIR]forget.password.php">Forgot password?</a></p>
</div>

<div>
    <p>Don't have an account? <a href="signup.html">Sign up</a></p>

</div>

</div>
